/*
=============== 
Variables
===============
*/
:root {
    /* primary color*/
    --clr-primary: #00AAFF;
    /* --clr-primary-2: #f07b55; */
    --clr-primary-2: #ae552d;
    --clr-error: #ff0033;

    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
  
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --clr-white: white;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
=============== 
Pre-built
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: var(--clr-grey-2);
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
input, select{
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
}
.test{
    border: solid var(--clr-error) 2px;
}
.container{
    display: flex;
    width: 90%;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}
.error{
    color: var(--clr-error);
    font-size: .8rem;
    font-weight: 600;
}

/*
=============== 
Navbar
===============
*/
.navbar{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: var(--light-shadow);
    background-color: var(--clr-grey-4);
    opacity: .9;
    z-index: 100;
}
.navbar-brand{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 300px;
}
.navbar-brand img{
    width: 90px;
}
.navbar-brand span{
    color: var(--clr-white);
    margin-left: 20px;
    font-weight: 800;
    font-size: 1.3rem;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.nav-item:last-child {
    margin-left: auto;
}
.nav-link{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 13px 35px;
    transition: var(--transition);
}    
.nav-item:last-child .nav-link{
    background-color: var(--clr-primary-2);
    border-radius: 25px;
}
.nav-link:hover{
    background: var(--clr-black);
    border-radius: 10px;
}

/*
=============== 
Footer
===============
*/

.footer{
    background: var(--clr-grey-4);
    padding: 50px 0px 100px 0px;
    
}
.footer .container{
    align-items: flex-start;
}
.footer-column{
    display: flex;
    flex-direction: column;
}
.footer h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.footer h3{
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 600;
}
.support-link{
    color: white;
}
.payment-image{
    margin-top: 30px;
    width: 60px;
    padding: 10px;
    background-color: white;
}
.social-images{
    margin-top: 20px;
}
.social-image:nth-child(2){
    margin-left: 10px;
}